/* remove default browser spacing*/
* {
  margin: 0px;
  padding: 0px;
  color: #fff;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

/*title text style*/
/* the font-family 'JetBrains Mono', has been linked
 * and is available for your use
 * */
.img {
  width: 25%;
  height: 25%;
}
body {
  background-color: rgb(84, 28, 135);
  display: block;
  position: relative;
  min-height: 100vh;
}

.header-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  padding-left: 40px;
  position: absolute;
  top: 50px;
  right: 200px;
  color: #fff;
}

.header-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-left: 40px;
  position: absolute;
  top: 150px;
  left: 300px;
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  color: #fff;
}
.main h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.main-education-span {
  color: blue;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.main-education-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 20px;
  padding-left: 25px;
}

.main-experience span {
  color: blue;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.main-experience-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 20px;
  padding-left: 25px;
  font-size: 25px;
}

.main-experience h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

.skills-hobbies {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding-left: 25px;
  font-size: 25px;
}

.hobbies {
  margin-left: 250px;
}
